/* body {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
} */

.card {
    /* glass morphism effect */
    /* background: rgba( 255, 255, 255, 0.10);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 16.5px);
    border: none;
    -webkit-backdrop-filter: blur( 16.5px); */
}