<fieldset>
    <legend>Добавление задания</legend>
    <div class="form-floating">
        <textarea class="form-control" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Задание</label>
    </div>
    Добавить правильный ответ?<br>
    <input type="radio" name="isHaveAwnser" id="yes">Да
    <input type="radio" name="isHaveAwnser" id="no">Нет
    <div class="form-floating">
        <textarea class="form-control" id="rightAnswer"></textarea>
        <label for="rightAnswer">правильный ответ</label>
    </div>
</fieldset>